/*------------------------------------*\
    LOGIN BUTTON
\*------------------------------------*/
#bankid-login-button {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}

/*------------------------------------*\
    LOGIN TERMS
\*------------------------------------*/
p#bankid-terms {
    text-align: center;
    font-size: 0.7rem;
    margin-top: 0;
    padding-top: 0;
}

/*------------------------------------*\
    BANKID LOGIN PAGE
\*------------------------------------*/
#login.bankid-login {
    width: 420px;
}

#bankid-login-container {
    display: none;
}

#bankid-login-container #bankid-qr-code-container {
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1em auto;
    width: fit-content;
}

#bankid-login-container #bankid-qr-code-container img {
    height: auto;
    display: block;
    margin: 0 auto;
}

#bankid-login-container #bankid-qr-code-container img[src=""] {
    display: none;
}

#bankid-login-container #bankid-qr-code-timeleft {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: .5em;
    background: #2271b1;
    transition: width 1s linear;
}

#bankid-qr-code-container.full-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#bankid-qr-code-container.full-screen #bankid-qr-code-timeleft {
    display: none;
}

#bankid-qr-code-container.full-screen img {
    max-width: 100%;
    max-height: 100%;
    width: 50vh;
    height: 50vh;
    background-color: #fff;
}

#bankid-login-container .accordion {
    margin: 1em auto;
    width: 100%;
}

#bankid-login-container .accordion button {
    width: 100%;
    text-align: left;
    padding: 1em;
    background: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    cursor: pointer;
}

#bankid-login-container .accordion button span::after {
    content: '\25BC';
    float: right;
}

#bankid-login-container .accordion button.active {
    background: #e5e5e5;
    border-radius: 5px 5px 0 0;
}

#bankid-login-container .accordion button.active span::after {
    content: '\25B2';
}

#bankid-login-container .accordion .accordion-content {
    display: none;
    padding: 1em;
    border: 1px solid #e5e5e5;
    border-radius: 0 0 5px 5px;
}

#bankid-login-container .accordion .accordion-content p,
#bankid-login-container .accordion .accordion-content ul {
    margin-bottom: 1em;
}

#bankid-login-container .accordion .accordion-content ul {
    margin-left: 1.5em;
}

.bankid-login-hidden {
    display: none;
}
/*------------------------------------*\
    JAVASCRIPT DISABLED
\*------------------------------------*/
body.no-js #bankid-login-button,
body.no-js p.bankid-terms {
    display: none;
    height: 0;
    margin: 0;
}